html {
  background-image: url("/static/img/UCL-Quad.jpg");
  background-size: cover;
  background-position-x: center;
  height: 100%;

  color: white;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.content {
  position: absolute;
  top: 40%;
  transform: translateY(-45%);
  width: 100%;
}

section.content figure {
  margin: auto;
}

section.content .level {
  margin: auto;
  max-width: 50%;
}

.content h1,
a,
.footer {
  color: white;
}

a:hover {
  color: #ccc;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  background-color: transparent;
}

@media only screen and (max-width: 350px) {
  footer {
    /* hide footer on smallest phones */
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  footer {
    /* move downwards on smallish phones */
    padding-bottom: 1rem !important;
  }
}
