// Theme Colours
$text: white;

// Bulma variables
$body-color: $text;
$link: $text;
$link-hover: #ccc;
$content-heading-color: $text;
$title-color: $text;
$subtitle-color: $text;
$footer-background-color: transparent;
